* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
html {
  font-size: 10px;
}
body {
  margin: 0 auto;
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  position: relative;
  background-color: rgba(83, 88, 95, 0.9);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  transition: background-image 1s;
}
.wrapperResultsSearch::-webkit-scrollbar {
  width: 0;
}
.wrapperResultsSearch {
  overflow: -moz-scrollbars-none;
}

body.animate {
  animation: next 1s ease;
}
@keyframes next {
  from {
    background-position-x: center, -100%, 0;
  }
  to {
    background-position-x: center, 0, 100%;
  }
}

.wrapper {
  max-width: 1330px;
  margin: 40px auto;
}
.button {
  width: 4.4rem;
  height: 4.4rem;
  border-radius: 6px;
  border: none;
  background: rgba(180, 184, 187, 0.7);
  color: white;
  display: flex;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  cursor: pointer;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  outline: none;
  transition: background-color 0.5s ease;
}
.button:hover {
  background-color: #e9e9e9;
  transition: background-color 0.5s ease;
}
.button.not-active {
  background: rgba(76, 82, 85, 0.6);
  color: hsla(0, 0%, 100%, 0.7);
  cursor: pointer;
}
.button.not-active:hover {
  background: rgba(136, 140, 143, 0.753);
  color: white;
}
/* loader */
.loader {
  display: none;
}

.loader.animation {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(245, 245, 245, 0.5);
  z-index: 80;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper__spinner {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader.animation svg {
  display: block;
  width: 100%;
  height: 100%;
  animation: spin 2s linear 0s infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* HEADER */

.header__wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.cotrolsLeft {
  display: flex;
  flex-direction: row;
  width: 294px;
  justify-content: space-evenly;
}
.cotrolsLeft__update {
  background: rgba(180, 184, 187, 0.7)
    url(./assets/img/controls-header/update_background.svg) no-repeat bottom;
  background-size: 4.4rem;
}
.cotrolsLeft__update .spinner {
  width: 2.1rem;
  height: 2.1rem;
  background: url(./assets/img/controls-header/spinner.svg) 50% no-repeat;
}

.cotrolsLeft__update.animation .spinner {
  animation: spin 1s ease;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.cotrolsLeft__language .drop-menu-laguage {
  width: 7.1rem;
  position: relative;
}
.cotrolsLeft__language.open .drop-menu-laguage {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.cotrolsLeft__language .drop-menu-laguage .arrow {
  width: 1.4rem;
  height: 1.4rem;
  margin-left: 8px;
  background: url(./assets/img/controls-header/arrow.svg) 50% no-repeat;
}
.cotrolsLeft__language.open .drop-menu-laguage .arrow {
  transform: rotate(180deg);
}

.cotrolsLeft__language.open .items-menu-language {
  display: flex;
}
.cotrolsLeft__language .items-menu-language {
  display: none;
  position: absolute;
  flex-direction: column;
  height: 13.2rem;
}

.cotrolsLeft__language .item-menu-language {
  border-radius: 0px 0px;
  width: 7.1rem;
  border-top: 0.6px solid whitesmoke;
}
.cotrolsLeft__language .item-menu-language:last-child {
  border-bottom-left-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
}

.cotrolsLeft__temperature {
  display: flex;
  flex-direction: row;
}
.cotrolsLeft__temperature .degrees {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.cotrolsLeft__temperature .fahrenheit {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.cotrolsLeft__sound img {
  width: 50%;
  height: 50%;
}

.cotrolsRight {
  display: flex;
  position: relative;
  margin: 0 10px;
  max-width: 400px;
}
.cotrolsRight__form {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
}
.cotrolsRight.open .cotrolsRight__form .input_search {
  border-bottom-left-radius: 0px;
}
.cotrolsRight.open .cotrolsRight__form .button_search {
  border-bottom-right-radius: 0px;
}
.cotrolsRight.open .wrapperResultsSearch {
  display: flex;
  height: 132px;
  width: 100%;
  border: 0.06rem solid rgba(180, 184, 187);
  background: rgba(76, 82, 85, 0.925);
  border-radius: 0 0 0.6rem 0.6rem;
  overflow-y: scroll;
  position: absolute;
  top: 100%;
  width: 100%;
  flex-direction: column;
  z-index: 10;
}
.wrapperResultsSearch {
  display: none;
}
.cotrolsRight .search-results .search-items {
  display: flex;
  position: relative;
  border: 0.06rem solid rgba(180, 184, 187);
  background: rgba(76, 82, 85, 0.925);
  height: 4.4rem;
  cursor: pointer;
  padding: 4px 10px;
  border-top: none;
  overflow: hidden;
  color: white;
  font-size: 1.4rem;
}

.cotrolsRight .search-results .search-items:hover {
  background: rgba(138, 140, 141, 0.39);
}

.cotrolsRight__form .button_search {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  width: 10rem;
}

.cotrolsRight__form .input_search {
  border: 0.06rem solid rgba(180, 184, 187);
  border-top-left-radius: 0.6rem;
  border-bottom-left-radius: 0.6rem;
  background: rgba(76, 82, 85, 0.514);
  padding: 8px 18% 8px 10px;
  outline: none;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  color: white;
  width: 29.5rem;
}
.cotrolsRight__form .input_search::placeholder {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  position: relative;
  background: none;
}
.cotrolsRight__form .button_close {
  position: absolute;
  top: 5%;
  right: 26.5%;
  width: 3rem;
  height: 4rem;
  border: none;
  background: rgba(255, 255, 255, 0);
  outline: none;
}
.cotrolsRight__form .button_close svg {
  cursor: pointer;
  position: relative;
  top: 0px;
  width: 72%;
  height: 54%;
  fill: rgba(255, 255, 255, 0.4);
  transition: fill 0.5s ease;
}

.cotrolsRight__form .button_close svg:hover {
  transition: fill 0.5s ease;
  fill: rgba(255, 255, 255, 1);
}

.cotrolsRight__form .button_search-voice {
  position: absolute;
  top: 5%;
  right: 34%;
  width: 3rem;
  height: 4rem;
  border: none;
  background: rgba(255, 255, 255, 0);
  outline: none;
}
.cotrolsRight__form .button_search-voice svg {
  cursor: pointer;
  position: relative;
  top: 8px;
  width: 80%;
  height: 60%;
  fill: rgba(255, 255, 255, 0.4);
  transition: fill 0.5s ease;
}
.cotrolsRight__form .button_search-voice.active svg {
  fill: rgba(255, 255, 255, 1);
}
.cotrolsRight__form .button_search-voice svg:hover {
  transition: fill 0.5s ease;
  fill: rgba(255, 255, 255, 1);
}
.search-info {
  color: rgba(255, 255, 255, 0.445);
  font-size: 2.2rem;
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: center;
}

/* MAIN  */
.main__wrapper {
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-between;
  padding: 0 10px;
}
/* WEATHER INFO */
.weather-data {
  display: flex;
  flex-direction: column;
  width: 645px;
  font-weight: 600;
}
.weather-data__location {
  width: 100%;
  font-size: 4.4rem;
}
.weather-data__date-time {
  font-size: 2.2rem;
  height: 2.8rem;
}
.forecasts-today {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.forecasts-today__info > :not(:first-child) {
  margin-bottom: 10px;
}
.forecasts-today__temperature {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 12rem;
  width: 60%;
}
.forecasts-today__info {
  display: flex;
  flex-direction: column;
  font-size: 2.2rem;
  width: 40%;
}
.weather-description {
  display: flex;
  flex-direction: row;
  position: relative;
}
.forecasts-today__info .icon_main {
  width: 170px;
  height: 170px;
}
.forecasts-today__info .icon_main img {
  width: 100%;
  height: 100%;
}

.weather-data__next-forecasts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.forecast {
  display: flex;
  flex-direction: column;
}
.forecast__temp-and-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-weather.icon_default {
  text-align: center;
  width: 70px;
  height: 70px;
}
.forecast__day {
  text-align: center;
  font-size: 3rem;
}
.forecast__temperature {
  font-size: 5rem;
}
/* MAP INFO */
.map-data {
  width: 395px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  z-index: 0;
}
.map-data__wrapper {
  width: 400px;
  height: 400px;
  display: flex;
  position: relative;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    99% 83%,
    75% 83%,
    75% 100%,
    51% 83%,
    0 83%
  );
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.mapboxgl-ctrl {
  display: none;
}
.mapboxgl-canvas {
  width: 100%;
  height: 100%;
}
.map-data__coordinates {
  margin-top: 10px;
  font-size: 2.2rem;
  width: 100%;
  text-align: right;
}

/* MEDIA  */

@media screen and (max-width: 1120px) {
  .main__wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .weather-data {
    width: 96%;
    justify-content: space-evenly;
    align-items: center;
  }
  .weather-data__location {
    text-align: center;
  }
  .weather-data__next-forecasts {
    width: 100%;
    justify-content: space-evenly;
  }
}
@media screen and (max-width: 830px) {
  .header__wrapper {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .search-info {
    margin: 10px 0;
  }
  .map-data {
    margin-top: 10px;
  }
}
@media screen and (max-width: 710px) {
  .weather-data__next-forecasts {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .forecast {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 580px) {
  .forecasts-today {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 430px) {
  html {
    font-size: 8px;
  }
  .forecasts-today__info {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .map-data {
    width: 300px;
  }
  .map-data__wrapper {
    width: 300px;
    height: 300px;
  }
  .map-data__coordinates {
    text-align: center;
  }
}
